.logo-home {
  height: 60px;
}

.custom-nav-item {
  margin-bottom: 1rem;
}

.button-blue {
  display: inline-block;
}
.button-purple {
  display: inline-block;
}

.home {
  .banner-text {
    .banner-title {
      font-size: 1.5rem;
      margin-top: 2rem;
    }
    .button-cont {
      margin-bottom: 2rem;
    }
  }
}

.how-works {
  padding-bottom: 15%;
  .blue-text {
    margin-top: 2rem;
  }
  .big-purple-text {
    font-size: 1.75rem;
  }

  .work-card {
    margin-bottom: 2rem;
  }

  .middle-title {
    font-size: 1.75rem;
    margin-top: 7.5%;
  }
  .custom-card {
    margin-right: 0;
  }
}

.about-us {
  padding-top: 2rem;
}

.community {
  padding-top: 3rem;
  padding-bottom: 3rem;
  .title {
    font-size: 1.75rem;
  }
}

.faq {
  padding-top: 3rem;
  padding-bottom: 3rem;
  .title {
    font-size: 1.75rem;
  }
  .nav-tabs {
    width: 100%;
    justify-content: center;
  }
  .faq-row {
    .col-sm-6:nth-child(2) {
      margin-top: 3rem;
    }
  }
}

.newsletter {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.contact {
  padding-top: 3rem;
  padding-bottom: 3rem;
  .title {
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
  .icon-text:last-child {
    margin-bottom: 2rem;
  }
  .contact-form {
    .col-sm-6:last-child {
      margin-top: 1.5rem;
    }
  }
}

.footer {
  .footer-row {
    flex-wrap: wrap;
  }
  .custom-hr {
    margin-top: 2rem;
  }
  .small-text {
    text-align: center;
    margin-bottom: 1rem;
  }

  .text-right {
    text-align: center !important;
  }
}
