.logo-home {
  height: 60px;
}

.custom-nav-item {
  margin-bottom: 1rem;
}

.button-blue {
  display: inline-block;
}

.button-purple {
  display: inline-block;
}

.home .banner-text .banner-title {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.home .banner-text .button-cont {
  margin-bottom: 2rem;
}

.how-works {
  padding-bottom: 15%;
}

.how-works .blue-text {
  margin-top: 2rem;
}

.how-works .big-purple-text {
  font-size: 1.75rem;
}

.how-works .work-card {
  margin-bottom: 2rem;
}

.how-works .middle-title {
  font-size: 1.75rem;
  margin-top: 7.5%;
}

.how-works .custom-card {
  margin-right: 0;
}

.about-us {
  padding-top: 2rem;
}

.community {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.community .title {
  font-size: 1.75rem;
}

.faq {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.faq .title {
  font-size: 1.75rem;
}

.faq .nav-tabs {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq .faq-row .col-sm-6:nth-child(2) {
  margin-top: 3rem;
}

.newsletter {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.contact {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.contact .title {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.contact .icon-text:last-child {
  margin-bottom: 2rem;
}

.contact .contact-form .col-sm-6:last-child {
  margin-top: 1.5rem;
}

.footer .footer-row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .custom-hr {
  margin-top: 2rem;
}

.footer .small-text {
  text-align: center;
  margin-bottom: 1rem;
}

.footer .text-right {
  text-align: center !important;
}
/*# sourceMappingURL=responsive.css.map */