@font-face {
  font-family: 'quicksand-medium';
  src: url('/fonts/Quicksand-Medium.ttf');
}
@font-face {
  font-family: 'quicksand-bold';
  src: url('/fonts/Quicksand-Bold.ttf');
}

$blue: #547cf9;
$purple: #e100ff;

a:hover {
  text-transform: none;
  text-decoration: none;
}

.logo-home {
  height: 70px;
}

.home {
  background: url('../images/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  
  #navbarSupportedContent {
    justify-content: flex-end;
  }

  .content-home {
    height: 70vh;
  }

  .nav-item.active {
    .nav-link {
      color: #377cfc;
    }
  }

  .nav-item {
    .nav-link {
      color: #000000;
      font-family: 'quicksand-medium';
    }
  }
  
  .banner-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    .banner-title {
      font-family: 'quicksand-medium';
      font-size: 2rem;
      color: #000e55;
      letter-spacing: 1px;
      padding-right: 2rem;
    }
    .banner-subtitle {
      padding-right: 6rem;
      margin-top: 1rem;
      font-family: 'quicksand-medium';
      font-size: 1rem;
      color: #000e55;
      letter-spacing: 1px;
    }
    .button-cont {
      margin-top: 2rem;
    }
  }

  .exchange-box-cont {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .exchange-box {
      background: rgba($color: #ffffff, $alpha: 0.6);
      padding: 1.5rem;
      width: 400px;
      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #e100ff;
        border-radius: 10px;
        padding: .5rem 2rem;
        margin-bottom: 1.5rem;
        .message {
          font-family: 'quicksand-medium';
          font-size: 1rem;
          color: #000000;
          font-style: italic;
        }
        .number {
          font-family: 'quicksand-bold';
          font-size: 1.25rem;
          font-weight: bold;
          color: #000000;
        }
      }

      .custom-input {
        border: 1px solid #377cfc;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        .label {
          font-family: 'quicksand-medium';
          background: #ffffff;
          padding-top: .75rem;
          padding-bottom: .75rem;
          padding-left: 2rem;
          font-style: italic;
          flex: 1;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          font-size: .9rem;
          color: #6f6f6f;
        }
        .number {
          font-family: 'quicksand-bold';
          flex: 1;
          border: none !important;
          padding-top: .75rem;
          padding-bottom: .75rem;
          text-align: center;
          outline: none;
        }
        .post-label {
          font-family: 'quicksand-medium';
          flex: 1;
          background: #377cfc;
          color: #ffffff;
          padding-top: .75rem;
          padding-bottom: .75rem;
          text-align: center;
          font-style: italic;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }

      .reverse-button {
        display: flex;
        justify-content: flex-end;
        margin-top: -15px;
        margin-bottom: -15px;
        padding-right: 47px;
        z-index: 10;
        .background-purple {
          background: rgba($color: #e100ff, $alpha: 0.6);
          border-radius: 100%;
          padding: 8px;
          z-index: 10;
        }
        .exchange-button {
          position: relative;
          display: flex;
          border-radius: 100%;
          background: #ffffff;
          width: 35px;
          height: 35px;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          img {
            height: 20px;
          }
        }
      }

      .button-try {
        margin-top: 2rem;
        margin-bottom: -40px;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}


.button-purple {
  background: #e000ff;
  color: #ffffff !important;
  font-family: 'quicksand-medium';
  font-size: 14px;
  padding: .5rem 2rem !important;
  border-radius: 2rem;
  border: none;
  text-decoration: none;
}

.button-blue {
  background: #547cf9;
  color: #ffffff !important;
  font-family: 'quicksand-medium';
  font-size: 14px;
  padding: .5rem 2rem !important;;
  border-radius: 2rem;
}

.how-works {
  padding-top: 5%;
  background: #eeeeee;
  min-height: 100vh;
  padding-bottom: 8%;
  .blue-text {
    font-family: 'quicksand-medium';
    color: $blue;
    font-size: 1.25rem;
    text-align: center;
  }
  .big-purple-text {
    font-family: 'quicksand-medium';
    color: $purple;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 8%;
  }

  .work-card {
    padding-right: 1rem;
    padding-left: 1rem;
    .image-icon {
      background: url('/images/icon.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      img {
        height: 40px;
      }
    }
    .title {
      margin-top: 2rem;
      color: #222222;
      font-family: 'quicksand-medium';
      text-align: center;
      font-size: 1.25rem;
    }
    .text {
      margin-top: 2rem;
      color: #8a8a8a;
      font-family: 'quicksand-medium';
      text-align: center;
      font-size: .95rem;
    }
  }

  .middle-title {
    font-family: 'quicksand-medium';
    color: #222222;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 3%;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .custom-card:nth-child(3), .custom-card:last-child {
    margin-right: 0;
  }

  .custom-card {
    margin-top: 4rem;
    width: 350px;
    margin-right: 1.5rem;
    -webkit-box-shadow: 5px 0px 20px 7px rgba(234,232,237,0.95); 
    box-shadow: 5px 0px 20px 7px rgba(234,232,237,0.95);
    .title {
      background: $purple;
      text-align: center;
      padding: 1rem 0;
      img {
        height: 25px;
      }
      .text {
        font-family: 'quicksand-medium';
        color: #f8d4ff;
        font-size: 1.15rem;
      }
    }
    .content {
      background: #ffffff;
      padding: 2.5rem 2rem;
      .title {
        background: unset;
        color: #222222;
        font-family: 'quicksand-medium';
        font-size: 1.1rem;
      }
      .subtitle {
        color: #ec6c9d;
        font-family: 'quicksand-medium';
        font-size: 13px;
        text-align: center;
      }
      .number1 {
        color: #222222;
        font-family: 'quicksand-medium';
        font-size: 1.1rem;
        text-align: center;
        margin-top: 1rem;
      }
      .number2 {
        color: #838383;
        font-family: 'quicksand-medium';
        font-size: 13px;
        text-align: center;
      }
    }
  }
}

.about-us {
  background: #377cfc;
  padding-bottom: 5rem;
  padding-top: 5rem;
  .about-item {
    margin-top: 4rem;
    display: flex;
    .image {
      margin-right: 2rem;
      img {
        height: 45px;
      }
    }
    .content {
      .title {
        font-family: 'quicksand-medium';
        color: #ffffff;
        font-size: 1.25rem;
        margin-bottom: 2rem;
      }
      .text {
        font-family: 'quicksand-medium';
        color: #ffffff;
        font-size: 13px;
        line-height: 24px;
      }
    }
  }
}

.history {
  background: #eeeeee;
  padding-top: 4%;
  padding-bottom: 4%;
  .title {
    font-family: 'quicksand-medium';
    color: $purple;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3%;
  }
}

.community {
  background: #377cfc;
  padding-top: 4%;
  min-height: 100vh;

  .title {
    font-family: 'quicksand-medium';
    color: #ffffff;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3%;
  }

  .person-card {
    display: flex;
    margin-top: 4rem;
    .image {
      margin-right: 2rem;
      img {
        height: 150px;
      }
    }
    .content {
      .title {
        font-family: 'quicksand-medium';
        color: #ffffff;
        font-size: 1rem;
        text-align: left;
        margin-bottom: 2rem;
      }
      .text {
        font-family: 'quicksand-medium';
        color: #ffffff;
        font-size: .8rem;
      }
    }
  }
}

.faq {
  background: #eeeeee;
  padding-top: 4%;
  padding-bottom: 4%;
  .title {
    font-family: 'quicksand-medium';
    color: $purple;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3%;
  }

  .nav-tabs {
    width: 515px;
    margin: 0 auto;
  }

  .nav-item {
    .nav-link.active {
      color: #222222 !important;
      border: none;
      border-bottom: 1px solid #4845b4;
    }
    .nav-link {
      font-family: 'quicksand-medium' !important;
      color: #b9b9b9 !important;
      background: transparent;
      
    }
  }

  .faq-row {
    margin-top: 3rem;
    .title {
      font-family: 'quicksand-medium';
      color: #222222;
      font-size: 1.5rem;
      text-align: left;
    }
    .text {
      color: #818181;
      font-family: 'quicksand-medium';
      font-size: .95rem;
    }
  }
}

.newsletter {
  background: #377cfc;
  padding-top: 4%;
  padding-bottom: 4%;
  .title {
    font-family: 'quicksand-medium';
    color: #ffffff;
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
  .text {
    font-family: 'quicksand-medium';
    color: #ebf0ff;
    font-size: 0.95rem;
  }

  .input-container {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 3rem;
    .custom-input {
      width: 100%;
      padding: 1rem;
      border: none;
      outline: none;
      font-family: 'quicksand-medium';
    }
    .icon {
      position: absolute;
      right: 2%;
    }
  }
}

.contact {
  background: #eeeeee;
  padding-top: 5%;
  padding-bottom: 4%;

  .subtitle {
    font-family: 'quicksand-medium';
    color: #222222;
    font-size: 1rem;
  }
  .title {
    font-family: 'quicksand-medium';
    color: $purple;
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }
  .icon-text {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    .icon {
      margin-right: 1rem;
      img {
        height: 30px;
      }
    }
    .text {
      font-family: 'quicksand-medium';
      color: #777777;
    }
  }

  .contact-form {
    .custom-input::placeholder, .custom-textarea::placeholder {
      color: #a9a9a9;
    }
    .custom-input {
      font-family: 'quicksand-medium';
      padding: 1rem;
      -webkit-box-shadow: 5px 0px 20px 7px rgba(234,232,237,0.95); 
      box-shadow: 5px 0px 20px 7px rgba(234,232,237,0.95);
      border: none;
      outline: none;
      width: 100%;
    }
    .custom-textarea {
      font-family: 'quicksand-medium';
      padding: 1rem;
      -webkit-box-shadow: 5px 0px 20px 7px rgba(234,232,237,0.95); 
      box-shadow: 5px 0px 20px 7px rgba(234,232,237,0.95);
      border: none;
      outline: none;
      width: 100%;
    }

    .button-purple {
      -webkit-box-shadow: 5px 0px 20px 7px rgba(234,232,237,0.95); 
      box-shadow: 5px 0px 20px 7px rgba(234,232,237,0.95);
    }
  }
}

.footer {
  background: $purple;
  padding-top: 5%;
  padding-bottom: 2rem;

  .title {
    font-family: 'quicksand-medium';
    color: #ffffff;
    font-size: 1.15rem;
    margin-bottom: 2rem;
  }
  .text {
    font-family: 'quicksand-medium';
    color: #fdf4ff;
    font-size: .9rem;
    line-height: 29px;
    padding-right: 3rem;
    .link {
      font-family: 'quicksand-medium';
      color: #fdf4ff;
    }
  }
  .text2 {
    font-family: 'quicksand-medium';
    color: #fdf4ff;
    font-size: .9rem;
  }
  .icons {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    .icon {
      margin-right: 1rem;
      img {
        width: 100%;
      }
    }
  }

  .icon-text {
    display: flex;
    align-items: center;
    margin-top: .5rem;
    .icon {
      margin-right: 1rem;
    }
    .text {
      font-family: 'quicksand-medium';
      color: #fdf4ff;
      font-size: .9rem;
      line-height: 15px;
    }
  }

  .custom-hr {
    margin-top: 5rem;
    margin-bottom: 2rem;
    background: #ea4dff;
  }

  .small-text {
    font-family: 'quicksand-medium';
    color: #fdf4ff;
    font-size: .8rem;
    letter-spacing: 1px;
  }
  .small-link {
    font-family: 'quicksand-medium';
    color: #fdf4ff;
    font-size: .8rem;
    margin-right: 1rem;
  }

  .footer-row {
    display: flex;
    justify-content: space-between;
    .custom-column1 {
      width: 350px;
    }
    .custom-column2 {
      width: 300px;
    }
    .custom-column3 {
      width: 250px;
    }
  }
}