@font-face {
  font-family: 'quicksand-medium';
  src: url("/fonts/Quicksand-Medium.ttf");
}

@font-face {
  font-family: 'quicksand-bold';
  src: url("/fonts/Quicksand-Bold.ttf");
}

a:hover {
  text-transform: none;
  text-decoration: none;
}

.logo-home {
  height: 70px;
}

.home {
  background: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.home #navbarSupportedContent {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home .content-home {
  height: 70vh;
}

.home .nav-item.active .nav-link {
  color: #377cfc;
}

.home .nav-item .nav-link {
  color: #000000;
  font-family: 'quicksand-medium';
}

.home .banner-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .banner-text .banner-title {
  font-family: 'quicksand-medium';
  font-size: 2rem;
  color: #000e55;
  letter-spacing: 1px;
  padding-right: 2rem;
}

.home .banner-text .banner-subtitle {
  padding-right: 6rem;
  margin-top: 1rem;
  font-family: 'quicksand-medium';
  font-size: 1rem;
  color: #000e55;
  letter-spacing: 1px;
}

.home .banner-text .button-cont {
  margin-top: 2rem;
}

.home .exchange-box-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home .exchange-box-cont .exchange-box {
  background: rgba(255, 255, 255, 0.6);
  padding: 1.5rem;
  width: 400px;
}

.home .exchange-box-cont .exchange-box .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e100ff;
  border-radius: 10px;
  padding: .5rem 2rem;
  margin-bottom: 1.5rem;
}

.home .exchange-box-cont .exchange-box .title .message {
  font-family: 'quicksand-medium';
  font-size: 1rem;
  color: #000000;
  font-style: italic;
}

.home .exchange-box-cont .exchange-box .title .number {
  font-family: 'quicksand-bold';
  font-size: 1.25rem;
  font-weight: bold;
  color: #000000;
}

.home .exchange-box-cont .exchange-box .custom-input {
  border: 1px solid #377cfc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
}

.home .exchange-box-cont .exchange-box .custom-input .label {
  font-family: 'quicksand-medium';
  background: #ffffff;
  padding-top: .75rem;
  padding-bottom: .75rem;
  padding-left: 2rem;
  font-style: italic;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: .9rem;
  color: #6f6f6f;
}

.home .exchange-box-cont .exchange-box .custom-input .number {
  font-family: 'quicksand-bold';
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none !important;
  padding-top: .75rem;
  padding-bottom: .75rem;
  text-align: center;
  outline: none;
}

.home .exchange-box-cont .exchange-box .custom-input .post-label {
  font-family: 'quicksand-medium';
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #377cfc;
  color: #ffffff;
  padding-top: .75rem;
  padding-bottom: .75rem;
  text-align: center;
  font-style: italic;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.home .exchange-box-cont .exchange-box .reverse-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -15px;
  margin-bottom: -15px;
  padding-right: 47px;
  z-index: 10;
}

.home .exchange-box-cont .exchange-box .reverse-button .background-purple {
  background: rgba(225, 0, 255, 0.6);
  border-radius: 100%;
  padding: 8px;
  z-index: 10;
}

.home .exchange-box-cont .exchange-box .reverse-button .exchange-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100%;
  background: #ffffff;
  width: 35px;
  height: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.home .exchange-box-cont .exchange-box .reverse-button .exchange-button img {
  height: 20px;
}

.home .exchange-box-cont .exchange-box .button-try {
  margin-top: 2rem;
  margin-bottom: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.button-purple {
  background: #e000ff;
  color: #ffffff !important;
  font-family: 'quicksand-medium';
  font-size: 14px;
  padding: .5rem 2rem !important;
  border-radius: 2rem;
  border: none;
  text-decoration: none;
}

.button-blue {
  background: #547cf9;
  color: #ffffff !important;
  font-family: 'quicksand-medium';
  font-size: 14px;
  padding: .5rem 2rem !important;
  border-radius: 2rem;
}

.how-works {
  padding-top: 5%;
  background: #eeeeee;
  min-height: 100vh;
  padding-bottom: 8%;
}

.how-works .blue-text {
  font-family: 'quicksand-medium';
  color: #547cf9;
  font-size: 1.25rem;
  text-align: center;
}

.how-works .big-purple-text {
  font-family: 'quicksand-medium';
  color: #e100ff;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 8%;
}

.how-works .work-card {
  padding-right: 1rem;
  padding-left: 1rem;
}

.how-works .work-card .image-icon {
  background: url("/images/icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.how-works .work-card .image-icon img {
  height: 40px;
}

.how-works .work-card .title {
  margin-top: 2rem;
  color: #222222;
  font-family: 'quicksand-medium';
  text-align: center;
  font-size: 1.25rem;
}

.how-works .work-card .text {
  margin-top: 2rem;
  color: #8a8a8a;
  font-family: 'quicksand-medium';
  text-align: center;
  font-size: .95rem;
}

.how-works .middle-title {
  font-family: 'quicksand-medium';
  color: #222222;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 3%;
}

.how-works .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.how-works .custom-card:nth-child(3), .how-works .custom-card:last-child {
  margin-right: 0;
}

.how-works .custom-card {
  margin-top: 4rem;
  width: 350px;
  margin-right: 1.5rem;
  -webkit-box-shadow: 5px 0px 20px 7px rgba(234, 232, 237, 0.95);
  box-shadow: 5px 0px 20px 7px rgba(234, 232, 237, 0.95);
}

.how-works .custom-card .title {
  background: #e100ff;
  text-align: center;
  padding: 1rem 0;
}

.how-works .custom-card .title img {
  height: 25px;
}

.how-works .custom-card .title .text {
  font-family: 'quicksand-medium';
  color: #f8d4ff;
  font-size: 1.15rem;
}

.how-works .custom-card .content {
  background: #ffffff;
  padding: 2.5rem 2rem;
}

.how-works .custom-card .content .title {
  background: unset;
  color: #222222;
  font-family: 'quicksand-medium';
  font-size: 1.1rem;
}

.how-works .custom-card .content .subtitle {
  color: #ec6c9d;
  font-family: 'quicksand-medium';
  font-size: 13px;
  text-align: center;
}

.how-works .custom-card .content .number1 {
  color: #222222;
  font-family: 'quicksand-medium';
  font-size: 1.1rem;
  text-align: center;
  margin-top: 1rem;
}

.how-works .custom-card .content .number2 {
  color: #838383;
  font-family: 'quicksand-medium';
  font-size: 13px;
  text-align: center;
}

.about-us {
  background: #377cfc;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.about-us .about-item {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us .about-item .image {
  margin-right: 2rem;
}

.about-us .about-item .image img {
  height: 45px;
}

.about-us .about-item .content .title {
  font-family: 'quicksand-medium';
  color: #ffffff;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.about-us .about-item .content .text {
  font-family: 'quicksand-medium';
  color: #ffffff;
  font-size: 13px;
  line-height: 24px;
}

.history {
  background: #eeeeee;
  padding-top: 4%;
  padding-bottom: 4%;
}

.history .title {
  font-family: 'quicksand-medium';
  color: #e100ff;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3%;
}

.community {
  background: #377cfc;
  padding-top: 4%;
  min-height: 100vh;
}

.community .title {
  font-family: 'quicksand-medium';
  color: #ffffff;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3%;
}

.community .person-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
}

.community .person-card .image {
  margin-right: 2rem;
}

.community .person-card .image img {
  height: 150px;
}

.community .person-card .content .title {
  font-family: 'quicksand-medium';
  color: #ffffff;
  font-size: 1rem;
  text-align: left;
  margin-bottom: 2rem;
}

.community .person-card .content .text {
  font-family: 'quicksand-medium';
  color: #ffffff;
  font-size: .8rem;
}

.faq {
  background: #eeeeee;
  padding-top: 4%;
  padding-bottom: 4%;
}

.faq .title {
  font-family: 'quicksand-medium';
  color: #e100ff;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3%;
}

.faq .nav-tabs {
  width: 515px;
  margin: 0 auto;
}

.faq .nav-item .nav-link.active {
  color: #222222 !important;
  border: none;
  border-bottom: 1px solid #4845b4;
}

.faq .nav-item .nav-link {
  font-family: 'quicksand-medium' !important;
  color: #b9b9b9 !important;
  background: transparent;
}

.faq .faq-row {
  margin-top: 3rem;
}

.faq .faq-row .title {
  font-family: 'quicksand-medium';
  color: #222222;
  font-size: 1.5rem;
  text-align: left;
}

.faq .faq-row .text {
  color: #818181;
  font-family: 'quicksand-medium';
  font-size: .95rem;
}

.newsletter {
  background: #377cfc;
  padding-top: 4%;
  padding-bottom: 4%;
}

.newsletter .title {
  font-family: 'quicksand-medium';
  color: #ffffff;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.newsletter .text {
  font-family: 'quicksand-medium';
  color: #ebf0ff;
  font-size: 0.95rem;
}

.newsletter .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 3rem;
}

.newsletter .input-container .custom-input {
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
  font-family: 'quicksand-medium';
}

.newsletter .input-container .icon {
  position: absolute;
  right: 2%;
}

.contact {
  background: #eeeeee;
  padding-top: 5%;
  padding-bottom: 4%;
}

.contact .subtitle {
  font-family: 'quicksand-medium';
  color: #222222;
  font-size: 1rem;
}

.contact .title {
  font-family: 'quicksand-medium';
  color: #e100ff;
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

.contact .icon-text {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .icon-text .icon {
  margin-right: 1rem;
}

.contact .icon-text .icon img {
  height: 30px;
}

.contact .icon-text .text {
  font-family: 'quicksand-medium';
  color: #777777;
}

.contact .contact-form .custom-input::-webkit-input-placeholder, .contact .contact-form .custom-textarea::-webkit-input-placeholder {
  color: #a9a9a9;
}

.contact .contact-form .custom-input:-ms-input-placeholder, .contact .contact-form .custom-textarea:-ms-input-placeholder {
  color: #a9a9a9;
}

.contact .contact-form .custom-input::-ms-input-placeholder, .contact .contact-form .custom-textarea::-ms-input-placeholder {
  color: #a9a9a9;
}

.contact .contact-form .custom-input::placeholder, .contact .contact-form .custom-textarea::placeholder {
  color: #a9a9a9;
}

.contact .contact-form .custom-input {
  font-family: 'quicksand-medium';
  padding: 1rem;
  -webkit-box-shadow: 5px 0px 20px 7px rgba(234, 232, 237, 0.95);
  box-shadow: 5px 0px 20px 7px rgba(234, 232, 237, 0.95);
  border: none;
  outline: none;
  width: 100%;
}

.contact .contact-form .custom-textarea {
  font-family: 'quicksand-medium';
  padding: 1rem;
  -webkit-box-shadow: 5px 0px 20px 7px rgba(234, 232, 237, 0.95);
  box-shadow: 5px 0px 20px 7px rgba(234, 232, 237, 0.95);
  border: none;
  outline: none;
  width: 100%;
}

.contact .contact-form .button-purple {
  -webkit-box-shadow: 5px 0px 20px 7px rgba(234, 232, 237, 0.95);
  box-shadow: 5px 0px 20px 7px rgba(234, 232, 237, 0.95);
}

.footer {
  background: #e100ff;
  padding-top: 5%;
  padding-bottom: 2rem;
}

.footer .title {
  font-family: 'quicksand-medium';
  color: #ffffff;
  font-size: 1.15rem;
  margin-bottom: 2rem;
}

.footer .text {
  font-family: 'quicksand-medium';
  color: #fdf4ff;
  font-size: .9rem;
  line-height: 29px;
  padding-right: 3rem;
}

.footer .text .link {
  font-family: 'quicksand-medium';
  color: #fdf4ff;
}

.footer .text2 {
  font-family: 'quicksand-medium';
  color: #fdf4ff;
  font-size: .9rem;
}

.footer .icons {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .icons .icon {
  margin-right: 1rem;
}

.footer .icons .icon img {
  width: 100%;
}

.footer .icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: .5rem;
}

.footer .icon-text .icon {
  margin-right: 1rem;
}

.footer .icon-text .text {
  font-family: 'quicksand-medium';
  color: #fdf4ff;
  font-size: .9rem;
  line-height: 15px;
}

.footer .custom-hr {
  margin-top: 5rem;
  margin-bottom: 2rem;
  background: #ea4dff;
}

.footer .small-text {
  font-family: 'quicksand-medium';
  color: #fdf4ff;
  font-size: .8rem;
  letter-spacing: 1px;
}

.footer .small-link {
  font-family: 'quicksand-medium';
  color: #fdf4ff;
  font-size: .8rem;
  margin-right: 1rem;
}

.footer .footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-row .custom-column1 {
  width: 350px;
}

.footer .footer-row .custom-column2 {
  width: 300px;
}

.footer .footer-row .custom-column3 {
  width: 250px;
}
/*# sourceMappingURL=style.css.map */